<li class="list-group-item ">
	<h5 class="card-body text-center">{{burger_name}}</h5>

	<button type="submit" class="change-devour btn btn-danger text-center" style="width: 415px;" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}Devour it!{{else}}Throw up...{{/if}}
	</button>
</li>
